<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.showcase.aibackend.mapper.DiagnosisMapper">
    <!-- GET /diagnosis/getProblems -->
    <select id="getProblems" resultType="DiagnosisProblemDto" fetchSize="1000">
        select tpsr.prob_solve_idx, tpsr.diff_level, tpsr.correct, tpsr.prob_no, tpsr.prob_seq_no, tti.topic_nm, tti.chapter_nm, tti.section_nm, tti.subsection_nm
        from ai_model_showcase.tb_member_info tmi
        left join ai_model_showcase.tb_prob_solve_result tpsr on tmi.member_no = tpsr.member_no
        left join ai_model_showcase.tb_topic_info tti on tpsr.q_idx = tti.q_idx
        where tmi.member_no = #{memberNo}
        limit 15;
    </select>

    <!-- GET /diagnosis/sendResult -->
    <select id="sendResult" resultType="DiagnosisResultQueryDto" fetchSize="1000">
        select tpsr.prob_solve_idx, tti.section_nm, tti.subsection_nm
        from ai_model_showcase.tb_member_info tmi
        left join ai_model_showcase.tb_prob_solve_result tpsr on tmi.member_no = tpsr.member_no
        left join ai_model_showcase.tb_topic_info tti on tpsr.q_idx = tti.q_idx
        where tpsr.prob_solve_idx = #{prob_solve_idx};
    </select>
</mapper>