<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.showcase.aibackend.mapper.HomeMapper">
    <!-- 문제은행 : SELECT 테스트 -->
    <select id="getQuestionExample" resultType="String" fetchSize="1000">
        select procedure_code
        from ai_inference_model.tb_question
        where question_id = 0;
    </select>
</mapper>