<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.showcase.aibackend.mapper.MemberMapper">
    <!-- GET /members -->
    <select id="getMembers" resultType="MemberQueryDto" fetchSize="1000">
        select tmi.member_no, ttci.q_idx, ttci.topic_nm, ttci.subject_cd
        from ai_model_showcase.tb_member_info tmi
        join ai_model_showcase.tb_topic_info ttci on tmi.tgt_topic = ttci.q_idx;
    </select>

    <select id="getMemberInfo" resultType="Integer" fetchSize="1000">
        select count(*)
        from ai_model_showcase.tb_member_info tmi
        where member_no = #{memberNo}
    </select>

    <!-- getMemberToken -->
    <select id="saveToken" resultType="String" fetchSize="1000">
        insert into ai_model_showcase.transaction_data(transaction_token)
        values(#{transaction_token});
    </select>
</mapper>