<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.showcase.aibackend.mapper.TransactionMapper">
    <!-- POST /recommend -->
    <select id="getDiagnosisData" resultType="String" fetchSize="1000">
        select diagnosis_data
        from ai_model_showcase.transaction_data
        where transaction_token = #{transaction_token};
    </select>

    <update id="insertDiagnosisData">
        update set td.diagnosis_data = #{diagnosis_data}
        from ai_model_showcase.transaction_data td
        where td.transaction_token = #{transaction_token}
    </update>

    <update id="updateStudyData">
        update set td.study_data = #{study_data}
        from ai_model_showcase.transaction_data td
        where td.transaction_token = #{transaction_token}
    </update>

</mapper>