<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.showcase.aibackend.mapper.TransactionMapper">
    <!-- POST /recommend -->
    <select id="getDiagnosisData" resultType="String" fetchSize="1000">
        select diagnosis_data
        from ai_model_showcase.transaction_data
        where transaction_token = #{transaction_token};
    </select>

    <select id="getStudyData" resultType="String" fetchSize="1000">
        select study_data
        from ai_model_showcase.transaction_data
        where transaction_token = #{transaction_token};
    </select>

    <select id="getTgtTopicKnowledgeRate" resultType="double" fetchSize="1000">
        select tgt_topic_knowledge_rate
        from ai_model_showcase.transaction_data
        where transaction_token = #{transaction_token};
    </select>

    <update id="updateDiagnosisData">
        update ai_model_showcase.transaction_data
        set diagnosis_data = #{diagnosis_data}
        where transaction_token = #{transaction_token}
    </update>

    <update id="updateStudyData">
        update ai_model_showcase.transaction_data
        set study_data = #{study_data}
        where transaction_token = #{transaction_token}
    </update>

    <update id="updateTgtTopicKnowledgeRate">
        update ai_model_showcase.transaction_data
        set tgt_topic_knowledge_rate = #{tgtTopicKnowledgeRate}
        where transaction_token = #{transaction_token}
    </update>

</mapper>